# ----------------------
# Angular
# ----------------------
node_modules/
dist/
.angular/
*.log

# ----------------------
# Rust
# ----------------------
backend/target/
**/*.rs.bk

# ----------------------
# OS / Editor
# ----------------------
.DS_Store
.vscode/
.idea/